<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body class="theme-base-08">
    {% include sidebar.html %}
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
          <div class="search_container">
            <form action="{{ site.baseurl }}/search" id="site_search" autocomplete="off" method="GET">
              <input type="text" name="query" placeholder="Search within AIMA Exercises">
              <input type="submit" value="Go!" class="search-btn">
            </form>
          </div>
        </div>

      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
